build/
logs/
.idea/
.gradle/
qdbpy.egg-info/
*.iws
*.iml
*.ipr
*.txt
.mygupsql/command-board-content-persistence-test.json
.mygupsql/db-connection-persistence-test.json
.mygupsql/store-iterator-test.json
src/main/resources/images/candicates
