build
out
bin
logs
.classpath
.idea
.gradle
.project
.pydevproject
.settings
*.iws
*.iml
*.ipr
.mygupsql/command-board-content-persistence-test.json
.mygupsql/db-connection-persistence-test.json
.mygupsql/store-iterator-test.json
src/main/resources/images/candicates
