build/
logs/
.idea/
.gradle/
pygupsql.egg-info/
__pycache__/
.DS_Store
*.iws
*.iml
*.ipr
*.txt
.mygupsql/command-board-content-persistence-test.json
.mygupsql/db-connection-persistence-test.json
.mygupsql/store-iterator-test.json
src/main/resources/images/candicates
